.gender {
  font-family: "segoe script", fantasy;
  color: #6ba8ff;
}

.sexuality {
  font-family: "segoe script", fantasy;
  color: #6ba8ff;
}

.personality {
  font-family: "segoe script", fantasy;
  color: #6ba8ff;
}